# Node dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# WhatsApp Baileys Auth Session
session/

# Temporary and Downloaded Video Files
downloads/*
!downloads/.gitkeep
temp/*
!temp/.gitkeep
database.json
database/*.sqlite
database/*.sqlite-wal
database/*.sqlite-shm

# Environment variables
.env
.env.local

# Executable binaries if placed locally
*.exe
bin/

# OS metadata
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store
